<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request card | MindHub Bank</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>
<body id="app">
<!-- Encabezado de la página web -->
    <header class="row g-0" v-cloak>
        <div class="col align-self-center dropdown">
            <a href="#" class="d-block link-light text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" style="float: right; margin-left: .5rem;"><div id="avatar" :style="{backgroundImage: 'url('+listClient.profile+')'}"></div></a>
            <a class="d-block link-light text-decoration-none" style="float: right; font-size: larger; margin-top: 1vh;" id="name-profile">{{listClient.firstName}} {{listClient.lastName}}</a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" id="go-to" href="#">Profile</a></li>
                <li><a class="dropdown-item" id="go-to" :href="'settings.html?id=' + listClient.id">Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" id="go-to" href="" @click.prevent="logOut">Sign out <img src="../assets/logout.png" alt="Sign out"></a></li>
            </ul>
        </div>
    </header>
<!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg" id="navbar-1">
        <a href="persons.html"><img src="../assets/logo-bank.png" alt="Bank" width="90"></a>
        <button class="navbar-toggler btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" id="menu"><span class="menu">&equiv;</span></button>
    </nav>
<!-- Contenidos de la página web -->
    <main id="accounts">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-body position-relative" id="body-menu-canvas1">
                <div class="flex-shrink-0 p-3 position-absolute top-0 end-0" style="width: 280px;">
                    <p class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-5" width="30" height="24"></svg>
                    <span class="fs-5 fw-semibold">MENU</span></p>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <a class="nav-link link-dark rounded others" href="persons.html">Home <img src="../assets/home.png" alt="Home"></a>
                        </li>
                        <li class="mb-1">
                            <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#accounts-collapse" aria-expanded="true">Accounts</button>
                            <div class="collapse" id="accounts-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="navsider-link"><a href="accounts.html" class="nav-link link-dark rounded">Consults</a></li>
                                    <li class="navsider-link"><a href="transfer.html" class="nav-link link-dark rounded">Transfer</a></li>
                                    <li class="navsider-link"><a href="directory.html" class="nav-link link-dark rounded">Directory</a></li>
                                    <li class="navsider-link"><a href="loan-application.html" class="nav-link link-dark rounded">Request loan</a></li>
                                    <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Information</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#cards-collapse" aria-expanded="false">Cards</button>
                            <div class="collapse" id="cards-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="navsider-link"><a href="debit-cards.html" class="nav-link link-dark rounded">Consults</a></li>
                                    <li class="navsider-link" v-if="creditCards.length < 3"><a href="create-credit-cards.html" class="nav-link link-dark rounded">Request credit card</a></li>
                                    <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Keys and limits</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#payments-collapse" aria-expanded="false">Payments</button>
                            <div class="collapse" id="payments-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Services payment</a></li>
                                    <li class="navsider-link"><a href="pay-credit-card.html" class="nav-link link-dark rounded">Credit card payment</a></li>
                                    <li class="navsider-link"><a href="pay-loan.html" class="nav-link link-dark rounded">Loans payment</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#profile-collapse" aria-expanded="false">My profile</button>
                            <div class="collapse" id="profile-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Personal information</a></li>
                                    <li class="navsider-link"><a :href="'settings.html?id=' + listClient.id" class="nav-link link-dark rounded">Settings</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1" v-if="listClient.role === 'ADMIN'">
                            <a class="nav-link link-dark rounded others" href="../manager.html">Manager <img src="../assets/manager.png" alt="Contact"></a>
                        </li>
                        <li class="border-top my-3"></li>
                        <li class="mb-1">
                            <a class="nav-link link-dark rounded others" href="#">Tickets <img src="../assets/tickets.png" alt="Tickets"></a>
                        </li>
                        <li class="mb-1">
                            <a class="nav-link link-dark rounded others" href="#">Support <img src="../assets/contact.png" alt="Contact"></a>
                        </li>
                        <li class="mb-1">
                            <a class="nav-link link-dark rounded others" href="" @click.prevent="logOut">Sign out <img src="../assets/logout.png" alt="Sign out"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col">
                <nav class="navbar navbar-expand-lg" id="navbar-2">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="flex-shrink-0 p-3" style="width: 280px;">
                                <p class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                                <svg class="bi me-5" width="30" height="24"></svg>
                                <span class="fs-5 fw-semibold">MENU</span></p>
                                <ul class="list-unstyled ps-0">
                                    <li class="mb-1">
                                        <a class="nav-link link-dark rounded others" href="persons.html">Home <img src="../assets/home.png" alt="Home"></a>
                                    </li>
                                    <li class="mb-1">
                                        <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#accounts-collapse" aria-expanded="true">Accounts</button>
                                        <div class="collapse" id="accounts-collapse">
                                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                <li class="navsider-link"><a href="accounts.html" class="nav-link link-dark rounded">Consults</a></li>
                                                <li class="navsider-link"><a href="transfer.html" class="nav-link link-dark rounded">Transfer</a></li>
                                                <li class="navsider-link"><a href="directory.html" class="nav-link link-dark rounded">Directory</a></li>
                                                <li class="navsider-link"><a href="loan-application.html" class="nav-link link-dark rounded">Request loan</a></li>
                                                <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Information</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mb-1">
                                        <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#cards-collapse" aria-expanded="false">Cards</button>
                                        <div class="collapse" id="cards-collapse">
                                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                <li class="navsider-link"><a href="debit-cards.html" class="nav-link link-dark rounded">Consults</a></li>
                                                <li class="navsider-link" v-if="creditCards.length < 3"><a href="create-credit-cards.html" class="nav-link link-dark rounded">Request credit card</a></li>
                                                <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Keys and limits</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mb-1">
                                        <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#payments-collapse" aria-expanded="false">Payments</button>
                                        <div class="collapse" id="payments-collapse">
                                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Services payment</a></li>
                                                <li class="navsider-link"><a href="pay-credit-card.html" class="nav-link link-dark rounded">Credit card payment</a></li>
                                                <li class="navsider-link"><a href="pay-loan.html" class="nav-link link-dark rounded">Loans payment</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mb-1">
                                        <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#profile-collapse" aria-expanded="false">My profile</button>
                                        <div class="collapse" id="profile-collapse">
                                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Personal information</a></li>
                                                <li class="navsider-link"><a :href="'settings.html?id=' + listClient.id" class="nav-link link-dark rounded">Settings</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mb-1" v-if="listClient.role === 'ADMIN'">
                                        <a class="nav-link link-dark rounded others" href="../manager.html">Manager <img src="../assets/manager.png" alt="Contact"></a>
                                    </li>
                                    <li class="border-top my-3"></li>
                                    <li class="mb-1">
                                        <a class="nav-link link-dark rounded others" href="#">Tickets <img src="../assets/tickets.png" alt="Tickets"></a>
                                    </li>
                                    <li class="mb-1">
                                        <a class="nav-link link-dark rounded others" href="#">Support <img src="../assets/contact.png" alt="Contact"></a>
                                    </li>
                                    <li class="mb-1">
                                        <a class="nav-link link-dark rounded others" href="" @click.prevent="logOut">Sign out <img src="../assets/logout.png" alt="Sign out"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-9 content" v-cloak>
                <h2 class="subtitle-client">Request card</h2>
                <div class="row g-0 justify-content-center" id="container-form">
                    <div class="col-md-8">
                        <form id="form-signin" @submit.prevent="registerDataDebit" style="margin: 2rem;">
                            <div class="mb-3">
                                <label for="validationDefault01" class="form-label" id="formulary_2">Dear client:</label>
                                <input type="text" class="form-control" id="validationDefault01" aria-describedby="help" :value="listClient.firstName+' '+listClient.lastName" disabled readonly>
                                <p id="help" class="form-text" style="margin-top: .5rem;">Please, select the account that you want associate to your new debit card. Remember, you can have until three (03) debit cards only, one (01) for each associated account.</p>
                            </div>
                            <div class="mb-3">
                                <label for="validationDefault03" class="form-label" id="formulary_1">Card type:</label>
                                <input type="text" class="form-control" id="validationDefault03" value="Debit" disabled readonly>
                            </div>
                            <div class="mb-3">
                                <label for="validationDefault05" class="form-label" id="formulary_2">Account:</label>
                                <select v-model="data.account" v-if="debitCards.length < 3" class="form-select" id="validationDefault05" required>
                                    <option selected disabled value="">Select</option>
                                    <option :value="listAccount.number">{{listAccount.number}}</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <div class="form-check" style="margin: 0 0 1rem 2rem;">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                    <label class="form-check-label" for="invalidCheck2">Agree to terms and conditions</label>
                                </div>
                            </div>
                            <div class="form-floating" id="add-client">
                                <input v-if="listCards.length < 6" class="btn btn-primary" type="submit" value="Create" id="formulary_sign" style="margin-right: .5rem;">
                                <input v-else class="btn btn-primary" type="submit" value="Create" id="formulary_sign" style="margin-right: .5rem;" disabled>
                                <input class="btn btn-primary" type="button" value="Back" id="formulary_reset" onclick="history.back(-1)" style="margin-right: 2rem;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
<!-- Pie de la página web -->
    <footer class="row g-0 align-items-center">
        <p class="col" id="footer-page">&copy; 2021 Misael J. López | MindHub Brothers Bank</p>
    </footer>

<!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<!-- Vue.js -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="../scripts/create-cards.js"></script>
</body>
</html>