<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay loan | MindHub Bank</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>
<body id="app">
<!-- Encabezado de la página web -->
    <header class="row g-0" v-cloak>
        <div class="col align-self-center dropdown">
            <a href="#" class="d-block link-light text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" style="float: right; margin-left: .5rem;"><div id="avatar" :style="{backgroundImage: 'url('+listClient.profile+')'}"></div></a>
            <a class="d-block link-light text-decoration-none" style="float: right; font-size: larger; margin-top: 1vh;" id="name-profile">{{listClient.firstName}} {{listClient.lastName}}</a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" id="go-to" href="#">Profile</a></li>
                <li><a class="dropdown-item" id="go-to" :href="'settings.html?id=' + listClient.id">Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" id="go-to" href="" @click.prevent="logOut">Sign out <img src="../assets/logout.png" alt="Sign out"></a></li>
            </ul>
        </div>
    </header>
<!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg" id="navbar-1">
        <a href="persons.html"><img src="../assets/logo-bank.png" alt="Bank" width="90"></a>
        <button class="navbar-toggler btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" id="menu"><span class="menu">&equiv;</span></button>
    </nav>
<!-- Contenidos de la página web -->
    <main id="accounts">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-body position-relative" id="body-menu-canvas1">
                <div class="flex-shrink-0 p-3 position-absolute top-0 end-0" style="width: 280px;">
                    <p class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-5" width="30" height="24"></svg>
                    <span class="fs-5 fw-semibold">MENU</span></p>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <a class="nav-link link-dark rounded others" href="persons.html">Home <img src="../assets/home.png" alt="Home"></a>
                        </li>
                        <li class="mb-1">
                            <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#accounts-collapse" aria-expanded="true">Accounts</button>
                            <div class="collapse" id="accounts-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="navsider-link"><a href="accounts.html" class="nav-link link-dark rounded">Consults</a></li>
                                    <li class="navsider-link"><a href="transfer.html" class="nav-link link-dark rounded">Transfer</a></li>
                                    <li class="navsider-link"><a href="directory.html" class="nav-link link-dark rounded">Directory</a></li>
                                    <li class="navsider-link"><a href="loan-application.html" class="nav-link link-dark rounded">Request loan</a></li>
                                    <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Information</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#cards-collapse" aria-expanded="false">Cards</button>
                            <div class="collapse" id="cards-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="navsider-link"><a href="debit-cards.html" class="nav-link link-dark rounded">Consults</a></li>
                                    <li class="navsider-link" v-if="creditCards.length < 3"><a href="create-credit-cards.html" class="nav-link link-dark rounded">Request credit card</a></li>
                                    <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Keys and limits</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#payments-collapse" aria-expanded="false">Payments</button>
                            <div class="collapse" id="payments-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Services payment</a></li>
                                    <li class="navsider-link"><a href="pay-credit-card.html" class="nav-link link-dark rounded">Credit card payment</a></li>
                                    <li class="navsider-link"><a href="pay-loan.html" class="nav-link link-dark rounded">Loans payment</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#profile-collapse" aria-expanded="false">My profile</button>
                            <div class="collapse" id="profile-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Personal information</a></li>
                                    <li class="navsider-link"><a :href="'settings.html?id=' + listClient.id" class="nav-link link-dark rounded">Settings</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1" v-if="listClient.role === 'ADMIN'">
                            <a class="nav-link link-dark rounded others" href="../manager.html">Manager <img src="../assets/manager.png" alt="Contact"></a>
                        </li>
                        <li class="border-top my-3"></li>
                        <li class="mb-1">
                            <a class="nav-link link-dark rounded others" href="#">Tickets <img src="../assets/tickets.png" alt="Tickets"></a>
                        </li>
                        <li class="mb-1">
                            <a class="nav-link link-dark rounded others" href="#">Support <img src="../assets/contact.png" alt="Contact"></a>
                        </li>
                        <li class="mb-1">
                            <a class="nav-link link-dark rounded others" href="" @click.prevent="logOut">Sign out <img src="../assets/logout.png" alt="Sign out"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col">
                <nav class="navbar navbar-expand-lg" id="navbar-2">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="flex-shrink-0 p-3" style="width: 280px;">
                                <p class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                                <svg class="bi me-5" width="30" height="24"></svg>
                                <span class="fs-5 fw-semibold">MENU</span></p>
                                <ul class="list-unstyled ps-0">
                                    <li class="mb-1">
                                        <a class="nav-link link-dark rounded others" href="persons.html">Home <img src="../assets/home.png" alt="Home"></a>
                                    </li>
                                    <li class="mb-1">
                                        <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#accounts-collapse" aria-expanded="true">Accounts</button>
                                        <div class="collapse" id="accounts-collapse">
                                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                <li class="navsider-link"><a href="accounts.html" class="nav-link link-dark rounded">Consults</a></li>
                                                <li class="navsider-link"><a href="transfer.html" class="nav-link link-dark rounded">Transfer</a></li>
                                                <li class="navsider-link"><a href="directory.html" class="nav-link link-dark rounded">Directory</a></li>
                                                <li class="navsider-link"><a href="loan-application.html" class="nav-link link-dark rounded">Request loan</a></li>
                                                <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Information</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mb-1">
                                        <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#cards-collapse" aria-expanded="false">Cards</button>
                                        <div class="collapse" id="cards-collapse">
                                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                <li class="navsider-link"><a href="debit-cards.html" class="nav-link link-dark rounded">Consults</a></li>
                                                <li class="navsider-link" v-if="creditCards.length < 3"><a href="create-credit-cards.html" class="nav-link link-dark rounded">Request credit card</a></li>
                                                <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Keys and limits</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mb-1">
                                        <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#payments-collapse" aria-expanded="false">Payments</button>
                                        <div class="collapse" id="payments-collapse">
                                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Services payment</a></li>
                                                <li class="navsider-link"><a href="pay-credit-card.html" class="nav-link link-dark rounded">Credit card payment</a></li>
                                                <li class="navsider-link"><a href="pay-loan.html" class="nav-link link-dark rounded">Loans payment</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mb-1">
                                        <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#profile-collapse" aria-expanded="false">My profile</button>
                                        <div class="collapse" id="profile-collapse">
                                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                <li class="navsider-link"><a href="#" class="nav-link link-dark rounded">Personal information</a></li>
                                                <li class="navsider-link"><a :href="'settings.html?id=' + listClient.id" class="nav-link link-dark rounded">Settings</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mb-1" v-if="listClient.role === 'ADMIN'">
                                        <a class="nav-link link-dark rounded others" href="../manager.html">Manager <img src="../assets/manager.png" alt="Contact"></a>
                                    </li>
                                    <li class="border-top my-3"></li>
                                    <li class="mb-1">
                                        <a class="nav-link link-dark rounded others" href="#">Tickets <img src="../assets/tickets.png" alt="Tickets"></a>
                                    </li>
                                    <li class="mb-1">
                                        <a class="nav-link link-dark rounded others" href="#">Support <img src="../assets/contact.png" alt="Contact"></a>
                                    </li>
                                    <li class="mb-1">
                                        <a class="nav-link link-dark rounded others" href="" @click.prevent="logOut">Sign out <img src="../assets/logout.png" alt="Sign out"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-9 content" id="loading" v-if="listAccounts.length < 0">
                <img src="../assets/loading.svg" alt="Loading">
            </div> 
            <div class="col-md-9 content" v-else v-cloak>
                <h2 class="subtitle-client">Pay loan</h2>
                <div class="row g-0 justify-content-center" id="container-form">
                    <div class="col-md-6" v-if="writeData">
                        <form id="form-signin">
                            <div class="row">
                                <div class="col-4 mb-3">
                                    <label for="validationDefault01" class="form-label" id="formulary_2">Type pay:</label>
                                    <select v-model="data.typePay" class="form-select" id="validationDefault01" required>
                                        <option selected disabled value="">Select</option>
                                        <option value="Account">Account</option>
                                        <option value="Debit Card">Debit card</option>
                                        <option value="Credit Card">Credit card</option>
                                    </select>
                                </div>
                                <div class="col-8 mb-3" v-if="data.typePay == ''">
                                    <label for="validationDefault02" class="form-label" id="formulary_2">Holder:</label>
                                    <input type="text" class="form-control" id="validationDefault02" placeholder="Mindhub Brothers Bank, Inc." disabled readonly>
                                </div>
                                <div class="col-8 mb-3" v-if="data.typePay == 'Account'">
                                    <label for="validationDefault03" class="form-label" id="formulary_2">Holder:</label>
                                    <input type="text" class="form-control" id="validationDefault03" :value="listClient.firstName+' '+listClient.lastName" disabled readonly>
                                </div>
                                <div class="col-8 mb-3" v-if="data.typePay == 'Debit Card' || data.typePay == 'Credit Card'">
                                    <label for="validationDefault03" class="form-label" id="formulary_2">Cardholder:</label>
                                    <input v-model="data.cardholder" type="text" class="form-control" id="validationDefault03" placeholder="Mindhub Brothers Bank, Inc." required>
                                </div>
                            </div>
                            <div class="mb-3" v-if="data.typePay == ''">
                                <label for="validationDefault02" class="form-label" id="formulary_2">Number account/card:</label>
                                <input v-model="data.number" type="text" class="form-control" id="validationDefault02" placeholder="VIN-000000/00" disabled readonly>
                            </div>
                            <div class="mb-3" v-if="data.typePay == 'Debit Card' || data.typePay == 'Credit Card'">
                                <label for="validationDefault02" class="form-label" id="formulary_2">Number card:</label>
                                <input v-model="data.number" type="text" class="form-control" id="validationDefault02" placeholder="0000 0000 0000 0000" maxlength="19" onkeyup="javascript:this.value=this.value.replace(/[^\dA-Z]/g, '').replace(/(.{4})/g, '$1 ').trim()" required>
                            </div>
                            <div class="mb-3" v-if="data.typePay == 'Account'">
                                <label for="validationDefault02" class="form-label" id="formulary_2">Number account:</label>
                                <select v-model="data.number" class="form-select" id="validationDefault02" required>
                                    <option selected disabled value="">Select</option>
                                    <option v-for="account in listAccounts" :value="account.number">{{account.number}} - $ {{numberFormat(account.balance)}}</option>
                                </select>
                            </div>
                            <div class="row" v-if="data.typePay == 'Debit Card' || data.typePay == 'Credit Card'">
                                <div class="col mb-3">
                                    <label for="validationDefault04" class="form-label" id="formulary_2">Expiration date:</label>
                                    <input v-model="data.date" type="text" class="form-control" id="validationDefault04" placeholder="MM/YY" maxlength="5" onkeyup="javascript:this.value=this.value.replace(/[^\dA-Z]/, '').replace(/(.{2})/, '$1/').trim()" required>
                                </div>
                                <div class="col mb-3">
                                    <label for="validationDefault05" class="form-label" id="formulary_2">CVV:</label>
                                    <div class="input-group mb-3">
                                        <input v-model="data.cvv" :type="type" class="form-control" id="validationDefault05" placeholder="&#149&#149&#149" maxlength="3" required>
                                        <button v-if="hidden" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword" style="background-color: white;"><img src="../assets/hidden.png" alt=""></button>
                                        <button v-if="show" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword" style="background-color: white;"><img src="../assets/show.png" alt=""></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 mb-3">
                                    <label for="validationDefault06" class="form-label" id="formulary_2">ID Loan:</label>
                                    <select v-model="data.id" class="form-select" id="validationDefault06" required>
                                        <option selected disabled value="">Select</option>
                                        <option v-for="data in filterByAmount" :value="data.id">{{data.id}} - {{data.name}}</option>
                                    </select>
                                </div>
                                <div class="col-7 mb-3" v-if="data.id == ''">
                                    <label for="validationDefault06" class="form-label" id="formulary_2">Loan:</label>
                                    <select v-model="data.id" class="form-select" id="validationDefault06" disabled readonly>
                                        <option selected disabled value="">Select</option>
                                    </select>
                                </div>
                                <div class="col-7 mb-3" v-else>
                                    <label for="validationDefault06" class="form-label" id="formulary_2">Loan:</label>
                                    <select v-model="data.name" class="form-select" id="validationDefault06" required>
                                        <option selected disabled value="">Select</option>
                                        <option v-for="data in filterLoans" :value="data.name">{{data.name}} - $ {{numberFormat(data.amount)}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 mb-3" v-if="data.id == ''">
                                    <label for="validationDefault04" class="form-label" id="formulary_2">Payments:</label>
                                    <select class="form-select" id="validationDefault04" disabled>
                                        <option selected disabled value="">Select</option>
                                    </select>
                                </div>
                                <div class="col-4 mb-3" v-else>
                                    <label for="validationDefault04" class="form-label" id="formulary_2">Payments:</label>
                                    <select v-model="data.payments" v-for="loan in filterLoans" class="form-select" id="validationDefault04" required>
                                        <option selected disabled value="">Select</option>
                                        <option v-if="loan.monthlyPayment < loan.amount" value="1">1</option>
                                        <option v-if="loan.monthlyPayment*2 < loan.amount" value="2">2</option>
                                        <option v-if="loan.monthlyPayment*3 < loan.amount" value="3">3</option>
                                        <option v-if="loan.monthlyPayment*6 < loan.amount" value="6">6</option>
                                        <option :value="loan.payments">Max. payments</option>
                                    </select>
                                </div>
                                <div class="col mb-3" v-if="data.payments == ''">
                                    <label for="validationDefault04" class="form-label" id="formulary_2">Amount:</label>
                                    <select class="form-select" id="validationDefault04" disabled>
                                        <option selected disabled value="">Select</option>
                                    </select>
                                </div>
                                <div class="col mb-3" v-if="data.payments == 1">
                                    <label for="validationDefault04" class="form-label" id="formulary_2">Amount:</label>
                                    <select v-model="data.monthlyPayment" class="form-select" id="validationDefault04" required>
                                        <option selected disabled value="">Select</option>
                                        <option v-for="data in filterLoans" :value="data.monthlyPayment">$ {{numberFormat(data.monthlyPayment)}}</option>
                                    </select>
                                </div>
                                <div class="col mb-3" v-if="data.payments == 2">
                                    <label for="validationDefault04" class="form-label" id="formulary_2">Amount:</label>
                                    <select v-model="data.monthlyPayment" class="form-select" id="validationDefault04" required>
                                        <option selected disabled value="">Select</option>
                                        <option v-for="data in filterLoans" :value="data.monthlyPayment*2">$ {{numberFormat(data.monthlyPayment*2)}}</option>
                                    </select>
                                </div>
                                <div class="col mb-3" v-if="data.payments == 3">
                                    <label for="validationDefault04" class="form-label" id="formulary_2">Amount:</label>
                                    <select v-model="data.monthlyPayment" class="form-select" id="validationDefault04" required>
                                        <option selected disabled value="">Select</option>
                                        <option v-for="data in filterLoans" :value="data.monthlyPayment*3">$ {{numberFormat(data.monthlyPayment*3)}}</option>
                                    </select>
                                </div>
                                <div class="col mb-3" v-if="data.payments == 6">
                                    <label for="validationDefault04" class="form-label" id="formulary_2">Amount:</label>
                                    <select v-model="data.monthlyPayment" class="form-select" id="validationDefault04" required>
                                        <option selected disabled value="">Select</option>
                                        <option v-for="data in filterLoans" :value="data.monthlyPayment*6">$ {{numberFormat(data.monthlyPayment*6)}}</option>
                                    </select>
                                </div>
                                <div class="col mb-3" v-if="data.payments != '' && data.payments != 1 && data.payments != 2 && data.payments != 3 && data.payments != 6">
                                    <label for="validationDefault04" class="form-label" id="formulary_2">Amount:</label>
                                    <select v-model="data.monthlyPayment" class="form-select" id="validationDefault04" required>
                                        <option selected disabled value="">Select</option>
                                        <option v-for="data in filterLoans" :value="data.amount">$ {{numberFormat(data.amount)}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-floating" id="add-client">
                                <input v-if="data.monthlyPayment == ''" class="btn btn-primary" type="button" value="Continue" id="formulary_sign" style="margin-right: .5rem;" disabled>
                                <input v-else class="btn btn-primary" type="button" value="Continue" id="formulary_sign" style="margin-right: .5rem;" @click.prevent="showValidation">
                                <input class="btn btn-primary" type="button" value="Back" id="formulary_reset" onclick="location='loans.html'">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6" v-if="validationData">
                        <form id="form-signin">
                            <div class="row">
                                <div class="col-4 mb-3">
                                    <label for="validationDefault01" class="form-label" id="formulary_2">Type pay:</label>
                                    <input v-model="data.typePay" type="text" class="form-control" id="validationDefault01" disabled readonly>
                                </div>
                                <div class="col-8 mb-3" v-if="data.typePay == 'Account'">
                                    <label for="validationDefault03" class="form-label" id="formulary_2">Holder:</label>
                                    <input type="text" class="form-control" id="validationDefault03" :value="listClient.firstName+' '+listClient.lastName" disabled readonly>
                                </div>
                                <div class="col-8 mb-3" v-if="data.typePay == 'Debit Card' || data.typePay == 'Credit Card'">
                                    <label for="validationDefault03" class="form-label" id="formulary_2">Cardholder:</label>
                                    <input v-model="data.cardholder" type="text" class="form-control" id="validationDefault03" disabled readonly>
                                </div>
                            </div>
                            <div class="col mb-3" v-if="data.typePay == 'Debit Card' || data.typePay == 'Credit Card'">
                                <label for="validationDefault02" class="form-label" id="formulary_2">Number card:</label>
                                <input v-model="data.number" type="text" class="form-control" id="validationDefault02" disabled readonly>
                            </div>
                            <div class="col mb-3" v-if="data.typePay == 'Account'">
                                <label for="validationDefault02" class="form-label" id="formulary_2">Number account:</label>
                                <input v-model="data.number" type="text" class="form-control" id="validationDefault02" disabled readonly>
                            </div>
                            <div class="row" v-if="data.typePay == 'Debit Card' || data.typePay == 'Credit Card'">
                                <div class="col mb-3">
                                    <label for="validationDefault04" class="form-label" id="formulary_2">Expiration date:</label>
                                    <input v-model="data.date" type="text" class="form-control" id="validationDefault04" disabled randoly>
                                </div>
                                <div class="col mb-3">
                                    <label for="validationDefault05" class="form-label" id="formulary_2">CVV:</label>
                                    <input v-model="data.cvv" type="password" class="form-control" id="validationDefault05" disabled reandoly>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="validationDefault07" class="form-label" id="formulary_2">Summary about your pay:</label>
                                <p id="help" class="form-text">You selected pay {{data.payments}} payment/s of your {{data.name}} loan requested. Will be debited from your {{data.typePay}} number {{data.number}} the value of:</p>
                                <div class="input-group">
                                    <div class="input-group-text">$</div>
                                    <input :value="numberFormat(data.monthlyPayment)" type="text" class="form-control" id="validationDefault07" aria-describedby="help" disabled readonly>
                                </div>
                            </div>
                            <div class="form-floating" id="add-client">
                                <input v-if="data.typePay == 'Debit Card'" class="btn btn-primary" type="submit" value="Pay" id="formulary_sign" style="margin-right: .5rem;" @click.prevent="registerDataDebitCard">
                                <input v-if="data.typePay == 'Credit Card'" class="btn btn-primary" type="submit" value="Pay" id="formulary_sign" style="margin-right: .5rem;" @click.prevent="registerDataCreditCard">
                                <input v-if="data.typePay == 'Account'" class="btn btn-primary" type="submit" value="Pay" id="formulary_sign" style="margin-right: .5rem;" @click.prevent="registerDataAccount">
                                <input class="btn btn-primary" type="button" value="Back" id="formulary_reset" @click.prevent="showForm">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
<!-- Pie de la página web -->
    <footer class="row g-0 align-items-center">
        <p class="col" id="footer-page">&copy; 2021 Misael J. López | MindHub Brothers Bank</p>
    </footer>

<!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<!-- Vue.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="../scripts/pay-loan.js"></script>
</body>
</html>