<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hubber Bank-online</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body id="app" v-cloak>
<!-- Encabezado de la página web -->
    <header id="signin">
        <nav class="navbar navbar-expand-lg" id="navbar-4">
            <img src="./assets/logo-bank-1.png" alt="Bank" width="220" id="logo-signin">
            <button class="navbar-toggler btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" id="menu"><span class="menu">&equiv;</span></button>
        </nav>
    </header>
<!-- Contenidos de la página web -->
    <main>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 205px; height: 200px; margin-top: 16.2vh;">
            <div class="offcanvas-body position-relative" id="body-menu-canvas">
                <div class="flex-shrink-0 p-3 position-absolute top-0 end-0" style="width: 200px;">
                    <p class="d-flex align-items-center pb-3 link-dark text-decoration-none border-bottom"><svg class="bi me-4" width="30" height="24"></svg><span class="fs-5 fw-semibold">MENU</span></p>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <a class="nav-link link-dark rounded others" data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample"><img src="./assets/register.png" alt="Register"> Register</a>
                        </li>
                        <li class="mb-1">
                            <a class="nav-link link-dark rounded others" href="#"><img src="./assets/contact.png" alt="Contact"> Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row g-0" id="sign-in">
            <div class="col-md-3">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse">
                            <div class="flex-shrink-0 p-3" style="width: 280px;" id="navbar-sign">
                                <p class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                                <svg class="bi me-4" width="30" height="24"></svg>
                                <span class="fs-5 fw-semibold">NEW USERS</span></p>
                                <p id="users-sign">If you are here first time or have no user</p>
                                <div class="form-floating"id="add-user">
                                    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" id="register_user">Sign up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse">
                            <div class="flex-shrink-0 p-3" style="width: 280px;" id="navbar-sign">
                                <p class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                                <svg class="bi me-4" width="30" height="24"></svg>
                                <span class="fs-5 fw-semibold">CONTACT US</span></p>
                                <p id="contact-sign">If you want more information or you have some problem, call us</p>
                                <div class="row justify-content-center">
                                    <div class="col-md-3 text-end">
                                        <img src="./assets/contact.png" alt="Contact"> 
                                    </div>
                                    <div class="col-md-9">
                                        <a href="#" id="number-sign" class="text-center">0800 MindHub-0</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-9">
                <div class="row g-0 justify-content-end" id="container-form">
                    <div class="col-md-5">
                        <form action="index.html" method="post" id="form-signin" @submit.prevent="signIn">
                            <div class="mb-3">
                                <label for="validationDefault01" class="form-label" id="formulary_1">Hubber user:</label>
                                <input v-model="sign.username" type="text" class="form-control" id="validationDefault01" placeholder="Username" required>
                            </div>
                            <label for="validationDefault02" class="form-label" id="formulary_2">Password:</label>
                            <div class="input-group mb-3">
                                <input v-model="sign.password" :type="type" class="form-control" id="validationDefault02" placeholder="Password" maxlength="12" required>
                                <button v-if="hidden" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword" style="background-color: white;"><img src="./assets/hidden.png" alt=""></button>
                                <button v-if="show" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword" style="background-color: white;"><img src="./assets/show.png" alt=""></button>
                            </div>
                            <div class="alert alert-danger d-flex align-items-center searchAlert" role="alert" style="padding: .5rem; margin: .5rem 0 .5rem 0;" v-if="error && sign.username == '' && sign.password == ''">
                                <p id="invalid" style="margin: 0 0 0 1rem;">Invalid username or password.</p>
                            </div>
                            <div class="mb-3">
                                <ul class="list-unstyled ps-0">
                                    <li class="mb-1">
                                        <a class="nav-link link-dark rounded others" id="form-sign" data-bs-toggle="offcanvas" aria-controls="offcanvasRight02" href="#offcanvasRight02" aria-controls="offcanvasRight02">Forgot your username</a>
                                    </li>
                                    <li class="mb-1">
                                        <a class="nav-link link-dark rounded others" id="form-sign" data-bs-toggle="offcanvas" aria-controls="offcanvasRight01" href="#offcanvasRight01" aria-controls="offcanvasRight01">Forgot your password</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-floating" id="add-client">
                                <input class="btn btn-primary" type="submit" value="Sign in" id="formulary_sign" style="margin-right: .5rem;">
                                <input class="btn btn-primary" type="reset" value="Reset" id="formulary_reset">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer" id="footer-sign">
                        <p id="footer-page">&copy; 2021 Misael J. López | MindHub Brothers Bank</p>
                    </div>
                </div>
            </div>
        </div>          
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Registration</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="row g-0 justify-content-center" id="container-form">
                    <div class="col">
                        <form id="form-signin" @submit.prevent="registerClient" style="margin: 2rem;">
                            <div class="mb-3">
                                <label for="validationDefault01" class="form-label" id="formulary_2">First name:</label>
                                <input v-model="user.firstName" type="text" class="form-control" id="validationDefault01" placeholder="First name" required>
                            </div>
                            <div class="mb-3">
                                <label for="validationDefault02" class="form-label" id="formulary_2">Last name:</label>
                                <input v-model="user.lastName" type="text" class="form-control" id="validationDefault02" placeholder="Last name" required>
                            </div>
                            <div class="mb-3">
                                <label for="validationDefault05" class="form-label" id="formulary_2">Username:</label>
                                <input v-model="user.username" type="text" class="form-control" id="validationDefault05" placeholder="mindhub123" required>
                            </div>
                            <div class="mb-3">
                                <label for="validationDefault03" class="form-label" id="formulary_1">Email:</label>
                                <input v-model="user.email" type="email" class="form-control" id="validationDefault03" placeholder="example@mindhub.com" required>
                            </div>
                            <label for="validationDefault02" class="form-label" id="formulary_2">Password:</label>
                            <div class="input-group mb-3">
                                <input v-model="user.password" :type="type2" placeholder="&#149&#149&#149&#149&#149&#149&#149&#149" maxlength="12" class="form-control" id="validationDefault02" required>
                                <button v-if="hidden2" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword2" style="background-color: white;"><img src="./assets/hidden.png" alt=""></button>
                                <button v-if="show2" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword2" style="background-color: white;"><img src="./assets/show.png" alt=""></button>
                            </div>
                            <div class="form-floating" id="add-client">
                                <input class="btn btn-primary" type="submit" value="Register" id="formulary_sign" style="margin-right: .5rem;">
                                <input class="btn btn-primary" type="reset" value="Reset" id="formulary_reset">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight01" aria-labelledby="offcanvasExampleRight01">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleRight01">Password</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="row g-0 justify-content-center" id="container-form">
                    <div class="col">
                        <form id="form-signin" @submit.prevent="changePassword" style="margin: 2rem;">
                            <div class="mb-3">
                                <label for="validationDefault03" class="form-label" id="formulary_1">Email:</label>
                                <input v-model="data.email" type="email" class="form-control" id="validationDefault03" placeholder="example@mindhub.com" required>
                            </div>
                            <label for="validationDefault02" class="form-label" id="formulary_2">New password:</label>
                            <div class="input-group mb-3">
                                <input v-model="data.password" :type="type3" placeholder="&#149&#149&#149&#149&#149&#149&#149&#149" maxlength="12" class="form-control" id="validationDefault02" required>
                                <button v-if="hidden3" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword3" style="background-color: white;"><img src="./assets/hidden.png" alt=""></button>
                                <button v-if="show3" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword3" style="background-color: white;"><img src="./assets/show.png" alt=""></button>
                            </div>
                            <label for="validationDefault02" class="form-label" id="formulary_2">Repeat password:</label>
                            <div class="input-group mb-3">
                                <input v-model="data.password2" :type="type4" placeholder="&#149&#149&#149&#149&#149&#149&#149&#149" maxlength="12" class="form-control" id="validationDefault02" required>
                                <button v-if="hidden4" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword4" style="background-color: white;"><img src="./assets/hidden.png" alt=""></button>
                                <button v-if="show4" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword4" style="background-color: white;"><img src="./assets/show.png" alt=""></button>
                            </div>
                            <div class="form-floating" id="add-client">
                                <input class="btn btn-primary" type="submit" value="Change" id="formulary_sign" style="margin-right: .5rem;">
                                <input class="btn btn-primary" type="reset" value="Reset" id="formulary_reset">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight02" aria-labelledby="offcanvasExampleRight02">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleRight02">Username</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="row g-0 justify-content-center" id="container-form">
                    <div class="col">
                        <form id="form-signin" @submit.prevent="changeUsername" style="margin: 2rem;">
                            <div class="mb-3">
                                <label for="validationDefault03" class="form-label" id="formulary_1">Email:</label>
                                <input v-model="data.email" type="email" class="form-control" id="validationDefault03" placeholder="example@mindhub.com" required>
                            </div>
                            <div class="mb-3">
                                <label for="validationDefault05" class="form-label" id="formulary_2">New username:</label>
                                <input v-model="data.username" type="text" class="form-control" id="validationDefault05" placeholder="mindhub123" required>
                            </div>
                            <div class="form-floating" id="add-client">
                                <input class="btn btn-primary" type="submit" value="Change" id="formulary_sign" style="margin-right: .5rem;">
                                <input class="btn btn-primary" type="reset" value="Reset" id="formulary_reset">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

<!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<!-- Vue.js -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./scripts/index.js"></script>
</body>
</html>