<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loans Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body id="app">
<!-- Encabezado de la página web -->
    <header class="row g-0" v-cloak>
        <div class="col align-self-center dropdown">
            <a href="#" class="d-block link-light text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" style="float: right; margin-left: .5rem;"><div id="avatar" :style="{backgroundImage: 'url('+listClient.profile+')'}"></div></a>
            <a class="d-block link-light text-decoration-none" style="float: right; font-size: larger; margin-top: 1vh;" id="name-profile">{{listClient.firstName}} {{listClient.lastName}}</a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" id="go-to" href="#">Profile</a></li>
                <li><a class="dropdown-item" id="go-to" :href="'webPages/settings.html?id=' + listClient.id">Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" id="go-to" href="" @click.prevent="logOut">Sign out <img src="./assets/logout.png" alt="Sign out"></a></li>
            </ul>
        </div>
    </header>
<!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg" id="navbar-1">
        <a href="webPages/persons.html"><img src="./assets/logo-bank.png" alt="Bank" width="90"></a>
    </nav>
<!-- Contenidos de la página web -->
    <main id="manager" v-cloak>
        <section>
            <ul class="nav nav-tabs" style="margin-bottom: 1.5rem;">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="manager.html"><h2 class="subtitle-nav">Clients</h2></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="loan-manager.html"><h2 class="subtitle-nav">Loans</h2></a>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-4">
                    <form id="manager" @submit.prevent="addLoan">
                        <div class="mb-3">
                            <label for="validationDefault01" class="form-label" id="formulary">Loan name:</label>
                            <input v-model="data.name" type="text" class="form-control" id="validationDefault01" placeholder="Loan name" required>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="validationDefault02" class="form-label" id="formulary_1">Maximun amount:</label>
                                <div class="input-group">
                                    <div class="input-group-text">$</div>
                                    <input v-model="data.amount" type="number" class="form-control" placeholder="0" step="0.01" id="validationDefault02" required>
                                </div>
                            </div>
                            <div class="col-6 mb-3">
                                <label for="validationDefault03" class="form-label" id="formulary">Average interest:</label>
                                <div class="input-group">
                                    <input v-model="data.average" type="text" class="form-control" id="validationDefault03" placeholder="0" required>
                                    <div class="input-group-text">%</div>
                                </div>
                            </div>
                        </div>
                        <label for="validationDefault05" class="form-label" id="formulary_1">Payments:</label>
                        <div class="row">
                            <div class="col-4 mb-3">
                                <input v-model="payments.payment1" type="text" placeholder="Option 1" class="col-2 form-control" id="validationDefault05" required>
                            </div>
                            <div class="col-4 mb-3">
                                <input v-model="payments.payment2" type="text" placeholder="Option 2" class="col-2 form-control" id="validationDefault05" required>
                            </div>
                            <div class="col-4 mb-3">
                                <input v-model="payments.payment3" type="text" placeholder="Option 3" class="col-2 form-control" id="validationDefault05" required>
                            </div>
                        </div>
                        <div class="form-floating" id="add-client">
                            <input class="btn btn-primary" type="submit" value="Add Loan" id="formulary_add">
                        </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <div id="content-form">
                        <form class="row justify-content-around" v-for="loan in listLoans" id="form-manager">
                            <div class="form-floating col-md-2">
                                <input type="text" class="form-control" id="loanName" :value="loan.name" disabled readonly>
                                <label for="loanName" class="label-manager">Loan name</label>
                            </div>
                            <div class="form-floating col-md-3">
                                <input type="text" class="form-control" id="maxAmount" :value="'$'+' '+loan.maxAmount" disabled readonly>
                                <label for="maxAmount" class="label-manager">Maximun amount</label>
                            </div>
                            <div class="form-floating col-md-2">
                                <input type="text" class="form-control" id="average" :value="loan.averageInterest+' '+'%'" disabled readonly>
                                <label for="average" class="label-manager">Average</label>
                            </div>
                            <div class="form-floating col-md-3">
                                <input type="tex" class="form-control" id="payments" :value="loan.payments" disabled readonly>
                                <label for="payments" class="label-manager">Payments</label>
                            </div>
                            <div class="form-floating col align-self-center" id="add-client">
                                <a class="btn btn-primary" :href="'data-loan.html?id=' + loan.id" role="button" id="register_user">View data</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>            
        </section>
    </main>
<!-- Pie de la página web -->
    <footer class="row g-0 align-items-center">
        <p class="col" id="footer-page">&copy; 2021 Misael J. López | MindHub Brothers Bank</p>
    </footer>
    
<!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<!-- Vue.js -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./scripts/loan-manager.js"></script>
</body>
</html>