<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body id="app">
<!-- Encabezado de la página web -->
    <header class="row g-0" v-cloak>
        <div class="col align-self-center dropdown">
            <a href="#" class="d-block link-light text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" style="float: right; margin-left: .5rem;"><div id="avatar" :style="{backgroundImage: 'url('+listClient.profile+')'}"></div></a>
            <a class="d-block link-light text-decoration-none" style="float: right; font-size: larger; margin-top: 1vh;" id="name-profile">{{listClient.firstName}} {{listClient.lastName}}</a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" id="go-to" href="#">Profile</a></li>
                <li><a class="dropdown-item" id="go-to" :href="'webPages/settings.html?id=' + listClient.id">Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" id="go-to" href="" @click.prevent="logOut">Sign out <img src="./assets/logout.png" alt="Sign out"></a></li>
            </ul>
        </div>
    </header>
<!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg" id="navbar-1">
        <a href="webPages/persons.html"><img src="./assets/logo-bank.png" alt="Bank" width="90"></a>
    </nav>
<!-- Contenidos de la página web -->
    <main id="manager" v-cloak>
        <section>
            <ul class="nav nav-tabs" style="margin-bottom: 1.5rem;">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="manager.html"><h2 class="subtitle-nav">Clients</h2></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="loan-manager.html"><h2 class="subtitle-nav">Loans</h2></a>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-3">
                    <form id="manager" style="margin-bottom: 1rem;">
                        <div class="mb-3">
                            <label for="validationDefault01" class="form-label" id="formulary">First name:</label>
                            <input v-model="clientData.firstName" type="text" class="form-control" id="validationDefault01" placeholder="First name" required>
                        </div>
                        <div class="mb-3">
                            <label for="validationDefault02" class="form-label" id="formulary_1">Last name:</label>
                            <input v-model="clientData.lastName" type="text" class="form-control" id="validationDefault02" placeholder="Last name" required>
                        </div>
                        <div class="mb-3">
                            <label for="validationDefault05" class="form-label" id="formulary_1">Username:</label>
                            <input v-model="clientData.username" type="text" class="form-control" id="validationDefault05" placeholder="mindhub123" required>
                        </div>
                        <div class="mb-3">
                            <label for="validationDefault03" class="form-label" id="formulary_2">Email:</label>
                            <input v-model="clientData.email" type="email" class="form-control" id="validationDefault03" placeholder="example@email.com" required>
                        </div>
                        <label for="validationDefault04" class="form-label" id="formulary_2">Password:</label>
                        <div class="input-group mb-3">
                            <input v-model="clientData.password" :type="type" class="form-control" id="validationDefault04" placeholder="&#149&#149&#149&#149&#149&#149&#149&#149" maxlength="12" required>
                            <button v-if="hidden" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword" style="background-color: white;"><img src="./assets/hidden.png" alt=""></button>
                            <button v-if="show" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword" style="background-color: white;"><img src="./assets/show.png" alt=""></button>
                        </div>
                        <div class="alert alert-danger d-flex align-items-center searchAlert" role="alert" style="padding: .5rem; margin: 0 1rem 1rem 1rem;" v-if="error">
                            <p id="invalid" style="margin: 0 0 0 1rem;">{{errorMessage}}</p>
                        </div>
                        <div class="form-floating" id="add-client">
                            <input class="btn btn-primary" type="submit" value="Register Client" id="formulary_add" @click.prevent="addClient">
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="position-relative">
                        <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" data-bs-target="#search-button" aria-controls="search-button" aria-expanded="false" aria-label="Toggle navigation" id="search" style="float: right;"><img src="./assets/search.png" alt="Search"></button>
                        <div class="navbar-collapse dropdown-menu" id="search-con">
                            <form>
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="search" v-model="searchClient">
                            </form>
                        </div>
                    </div>
                    <div id="content-form" style="margin: 3rem 0 1rem 0; overflow-y: scroll; height: 25.5rem;">
                        <form class="row justify-content-center" id="form-manager" v-if="noSearch">
                            <div class="form-floating col-md-12">
                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </symbol>
                                </svg>
                                <div class="alert alert-danger d-flex align-items-center searchAlert" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                    <div>No results found for this client.</div>
                                </div>
                            </div>
                        </form>
                        <form class="row justify-content-around" v-for="client in searchClients" id="form-manager">
                            <div class="form-floating col-md-1 align-self-center">
                                <a class="nav-link active" aria-current="page" id="persons" :href="'data-client.html?id='+ client.id"><div id="avatar" :style="{backgroundImage: 'url('+client.profile+')'}"></div></a>
                            </div>
                            <div class="form-floating col-md-3">
                                <input type="text" class="form-control" id="firstName" :value="client.firstName+' '+client.lastName" disabled readonly>
                                <label for="firstName" class="label-manager">Client</label>
                            </div>
                            <div class="form-floating col-md-3">
                                <input type="text" class="form-control" id="lastName" :value="client.username" disabled readonly>
                                <label for="lastName" class="label-manager">Username</label>
                            </div>
                            <div class="form-floating col-md-3">
                                <input type="email" class="form-control" id="email" :value="client.email" disabled readonly>
                                <label for="email" class="label-manager">Email</label>
                            </div>
                            <div class="form-floating col-md-2">
                                <input type="text" class="form-control" id="role" :value="client.role" disabled readonly>
                                <label for="role" class="label-manager">Role</label>
                            </div>
                        </form>
                    </div>
                </div>        
            </div>
        </section>
    </main>
<!-- Pie de la página web -->
    <footer class="row g-0 align-items-center">
        <p class="col" id="footer-page">&copy; 2021 Misael J. López | MindHub Brothers Bank</p>
    </footer>
    
<!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<!-- Vue.js -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./scripts/manager.js"></script>
</body>
</html>